@import url('https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P|Sigmar+One&display=swap');

#root{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: rgb(148, 8, 8);
  color: #fff;
  font-family: Sigmar One;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.external-div{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  border: black 1px solid;
  border-radius: 1rem;
  width: 70%;
  height: 80%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

img {
  height: 2.5rem;
  width: 2.5rem;
}

img:hover {
  cursor: pointer;
}

/*HEADER*/
.external-div-header {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
}

.external-div-header p {
  font-size: 3rem;
  margin: 0;
  padding: .8rem;
}

/*HEADER TIME LENGTH*/
.external-div-header-timer-length{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  padding: 0;
}

.external-div-header-timer-length p{
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
}

.pomodoro-label{
  margin: 0;
  padding: 1.5rem;
}

.increment-decrement, .increment-decrement p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  text-align: center;
}

#break-length, #session-length {
  width: 1.5rem;
}

/*TIME*/
.external-div-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5rem;
  border: .3rem black solid;
  flex: 1;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.75);

}

#timer-label {
  text-align: center;
  display: flex;
  align-items: center ;
  font-size: 2.5rem;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.timer {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'Press Start 2P';
}

/*TIMERSETTINGS*/
.external-div-timer-settings{
  display: flex;
  align-items: center;
  flex: 1;
}

.external-div-timer-settings div img {
  padding: 1rem;
  height: 4rem;
  width: 4rem;
}

.external-div-timer-settings div img:hover {
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .external-div-header {
    flex: 1;
  }

  .external-div-header p {
    text-align: center;
    font-size: 2rem;
  }

  .external-div-header-timer-length p{
    font-size: 1.5rem;
    padding: .5rem;
  }
}

@media (max-width: 643px) {
  /*HEADER*/
.external-div-header {
  flex: 1;
}

  .external-div-header-timer-length p{
    font-size: 1.2rem;
  }
}

@media (max-width: 495px) {
  .external-div-header p {
    text-align: center;
    font-size: 1.5rem;
  }

  .external-div-header-timer-length p{
    font-size: 1rem;
    padding: .3rem;
  }
}

@media (max-width: 467px) {
/* TIME */
.external-div-time {
  border-radius: 5rem;
  border: .2rem black solid;
  padding: .1rem 1.2rem .1rem 1.2rem;
}

#timer-label {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.timer {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
}